manifest {
    name = 'test'
    mainScript= 'main.nf'
    nextflowVersion = '!>=21.04.0'
    homePage = 'TODO'
}

params {
   outdir = "./results"
   enable_conda = true
}

process {

	withName: PARAMETRIZED_REPORT {

		// a conda env with "pip install nxfvars pandas seaborn"
		conda = "environment.yml"
		publishDir = [path: "${params.outdir}/parametrized_report"] 

	}

}
